    <div class="content">
        <div class="courses" >
            <h1>
                Certifications
            </h1>
            <hr>
            <div class="container" *ngFor='let course of courses'>
                <div class="row">
                    <div class="col-2">
                        <div class="tile">
                            <img class="new" src="../../../../assets/images/two.svg" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="name">
                            <h2>
                                {{course.name}}
                            </h2>
                            <h3>
                                Completed on {{course.doc}}
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center mt-3" *ngIf='!courses'>
                    <img src="../../../../assets/gifs/preloader.gif" width="100" height="100">
                  </div>
            </div>
            <button class="add" (click)='openDialog(true)'>
                Add Certifications
            </button>



        </div>


        <!-- ach -->

        <div class="row yc-ach">
            <div class="col-8">
                <div class="courses achive" >
                    <h1>
                        Achivements
                    </h1>
                    <hr>
                    <div class="container" *ngFor='let cour of workshops'>
                        <div class="row">
                            <div class="col-sm">
                                {{cour.name}}
                            </div>
                            <div class="col-sm">
                                Date: {{cour.doc}}
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center mt-3" *ngIf='!workshops'>
                            <img src="../../../../assets/gifs/preloader.gif" width="100" height="100">
                        </div>
                    </div>

                    <button class="add"  (click)='openDialog(false)'>
                        Add Achivement
                    </button>

                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="trial one">
                        <div class="nm">
                          <span><i class="fas fa-certificate tr"><div class="over"></div></i></span><span class="txt">Certifications</span>
                        </div>
                        <h1>{{courses.length ?courses.length:0}}</h1>
                      </div>
                </div>
                <div class="row">
                    <div class="trial two">
                        <div class="nm">
                          <span><i class="fas fa-trophy tr"><div class="over"></div></i></span><span class="txt">Other Achivements</span>
                        </div>
                        <h1>{{workshops.length || 0}}</h1>
                      </div>
                </div>
            </div>
        </div>

        <!-- /ach -->
        <div class="highlights">
            <h1>
                Notifications
            </h1>
            <hr>
        </div>

        <div class="ill">
            <img src="../../../../assets/images/undraw_project_completed_w0oq.svg" alt="illustration">
        </div>


