<section class="main">
    <div class="content">
        <div class="projects">
            <h1>Projects <span (click)='openDialog()'><i class="fas fa-plus-circle"></i> Add Entry</span> </h1>
            <hr>
            <div class="container">
                <div class="row title">
                    <div class="col">
                        <h2>Name</h2>
                    </div>
                    <div class="col">
                        <h2>Description</h2>
                    </div>
                    <div class="col">
                        <h2>Tech Stack</h2>
                    </div>
                    <div class="col">
                        <h2>Link</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3>Go-Co Tracker</h3>
                    </div>
                    <div class="col">
                        <h3>MEAN built web-app</h3>
                    </div>
                    <div class="col">
                        <h3>MEAN</h3>
                    </div>
                    <div class="col">
                        <h3>N/A</h3>
                    </div>
                </div>
               
            </div>
        </div>

        <!-- projects end -->

        <div class="ach container">
            <div class="row">
                <div class="col hack">
                    <h1>Hackathons<span (click)='openDialogHack()'><i class="fas fa-plus-circle"></i> Add Entry</span></h1>
                    <hr>
                    <div class="row title container">
                        <div class="col">
                            <h2>Name</h2>
                        </div>
                        <div class="col">
                            <h2>Position</h2>
                        </div>
                        <div class="col">
                            <h2>Duration</h2>
                        </div>
                    </div>
                    <div class="row container">
                        <div class="col">
                            <h3>HackOn</h3>
                        </div>
                        <div class="col">
                            <h3>IBM Special</h3>
                        </div>
                        <div class="col">
                            <h3>14-03-2020</h3>
                        </div>
                    </div>
                </div>
                <div class="col code">
                    <h1>Coding Contests<span (click)='openDialogCode()'><i class="fas fa-plus-circle"></i> Add Entry</span></h1>
                    <hr>
                    <div class="row title container">
                        <div class="col">
                            <h2>Name</h2>
                        </div>
                        <div class="col">
                            <h2>Position</h2>
                        </div>
                        <div class="col">
                            <h2>Duration</h2>
                        </div>
                    </div>
                    <div class="row container">
                        <div class="col">
                            <h3>HackOn</h3>
                        </div>
                        <div class="col">
                            <h3>IBM Special</h3>
                        </div>
                        <div class="col">
                            <h3>14-03-2020</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- hacks and coding contests end -->
        <div class="projects other">
            <h1>Other Achivements <span (click)='openDialogAch()'><i class="fas fa-plus-circle"></i> Add Entry</span> </h1>
            <hr>
            <div class="container">
                <div class="row title">
                    <div class="col">
                        <h2>Name</h2>
                    </div>
                    <div class="col">
                        <h2>Description</h2>
                    </div>
                    <div class="col">
                        <h2>Date of Completion</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3>Test</h3>
                    </div>
                    <div class="col">
                        <h3>Test description</h3>
                    </div>
                    <div class="col">
                        <h3>20-05-2000</h3>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>