<section class="main">
    <div class="content">
        <div class="header">
            <h1>Welcome Back!</h1>
        </div>
        
        <div class="tiles">
            <div class="row">
              <div class="col">
                 <h1>
                   60
                 </h1>
                 <hr>
                 <p>Total Students</p>
              </div>
              <div class="col">
                <h1>
                  40
                </h1>
                <hr>
                <p>Placements</p>
              </div>
              <div class="col">
                <h1>
                  53
                </h1>
                <hr>
                <p>Certifications</p>
              </div>
            </div>
          </div>

          <div class="verify">
            <div class="placement">
                <h1>
                  Updates
                </h1>
                <hr>
                <div class="entries">
                  <div class="container">
                      
                    <div class="row field">
                      <div class="col-sm-3">
                         <p>Yaksh</p>
                      </div>
                      <div class="col-sm">
                         <p>Selected for round-2 <span><i class="fas fa-pencil-alt edit"></i></span></p>
                      </div>
                      <div class="col-sm">
                          <p><i class="fas fa-check-circle"></i><span> Pending</span></p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
  
          </div>

           
    </div>
</section>