<section class="main">
  <app-faculty-sidebar></app-faculty-sidebar>
  <div class="content">
    <div class="row">
        <div class="col-8">
            <div class="name">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h1>Welcome Back!</h1>
                            <h3>Pickup from where you left.</h3>
                        </div>
                        <div class="col second" >
                            <img class="welcome-image" src="../../../../assets/images/final/clip-schoolteacher-teaches-pupil.png" alt="Welcome">
                        </div>
                    </div>
                </div>
               
            </div>

            <div class="over">
              <div class="row">
                <div class="col">
                  <div class="tiles one">
                    <div class="head">
                      <h1>Registered Students</h1>
                      <h2>123</h2>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="tiles two">
                    <div class="head">
                      <h1>Pending Verifications</h1>
                      <h2>123</h2>
                    </div>
                  </div>
                </div>

                <div class="upd">
                  <h1>Updates</h1>
                  <hr>
                </div>
                
              </div>
            </div>

           

        </div>
        <div class="col-4">
            <div class="profile-side">
                <div class="circle"></div>
                <h1>Yaksh Chopra</h1>
                <h3>RA1811032010048</h3>
                <h2>
                    Email
                </h2>
               
                <hr>
                <p>yakshchopra@gmail.com</p>
                <h2>
                  Deparment
              </h2>             
              <hr>
               <p>Computer Science</p>

               <h2>
                Section
            </h2>             
            <hr>
             <p>N1</p>
            </div>
        </div>

        

    </div>
</div>
</section>