.yc-nav{
    width: 7%;
    height: 96vh;
    background-color: #7d81ff;
    margin-left: 10px;
    border-radius: 15px;
    position: fixed;
    top: 2%;
    background-image: url(../../../../assets/images/nav.png);
    background-size: contain;
}

.yc-logo{
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}

.icon{
    font-size: 35px;
    margin-left: 50%;
    transform: translateX(-50%);
    color: white;
    margin-top: 45px;
}
.block {
    height: 50px;
    position: absolute;
    width: 10px;
    background-color: white;
    margin-top: -40px;
    margin-left:90% ;
    border-radius: 10px 0 0 10px;
    -webkit-box-shadow: inset 2px 2px 5px -1px rgba(143,143,143,1);
    -moz-box-shadow: inset 2px 2px 5px -1px rgba(143,143,143,1);
    box-shadow: inset 2px 2px 5px -1px rgba(143,143,143,1);
}


.item {
    border:none;
}

.item:focus {
border:none !important;
outline:none !important;
}

