<div class="main">
    <div class="logo">
        <img src="../../../../assets/images/Srmseal.png" alt="SRMIST">
    </div>
    <div class="list">
        <h2>Overview</h2>
    </div>
    <div class="list">
        <h2>Education</h2>
    </div>
    <div class="list">
        <h2>Certifications</h2>
    </div>
    <div class="list">
        <h2>Achivements</h2>
    </div>
    <div class="list">
        <h2>Placements</h2>
    </div>

    <div class="image">
        <img src="../../../../assets/images/final/clip-reading-books.png" alt="">
    </div>
    <div class="list log">
        <h2>Logout</h2>
    </div>
    <div class="division">
        
    </div>

</div>