.main{
    width: 16%;
    background-color: #f7f7f8;
    height: 100vh;
    position: fixed;
}

.division{
    position: absolute;
    width: 2px;
    height: 95%;
    right: 0;
    background-color: #E6E6E6;
    top: 2.5%;
}

.logo img{
    width: 100px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 15px
}

.list{
    text-align: left;
    margin-top: 10px;
}

.list h2{
    font-weight: 500;
    color: #8A9DFF;
    margin-left: 50%;
    transform: translateX(-50%);
}

.image{
    margin-left: 5%;
}

.log{
    text-align: center;
    background-color: white;
    margin: 10px 50px;
    border-radius: 20px;
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 6px 0px #dbdbdb;
    -moz-box-shadow: 0px 3px 6px 0px #dbdbdb;
    box-shadow: 0px 3px 6px 0px #dbdbdb;
}

.log h2{
    padding: 5px 0px;
}