<div class="main">
    <div class="content">
        <div class="placement-table">
            <h1>
                Placement Details
            </h1>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h2>Company</h2>
                    </div>
                    <div class="col-sm">
                        <h2>Details</h2>
                    </div>
                    <div class="col-sm">
                        <h2>Verification</h2>
                    </div>
                </div>
                <div class="new">
                    <div class="row">
                        <div class="col-sm">
                            <p>AWS</p>
                        </div>
                        <div class="col-sm">
                            <p>Selected for round-2</p>
                        </div>
                        <div class="col-sm">
                            <p><i class="far fa-check-circle icon"></i><span> Verified</span></p>
                        </div>
                    </div>
                </div>              

            </div>
            <div class="add"><i class="fas fa-plus-circle icon-add"></i><span>Add Entry</span></div>
        </div>
    </div>

    <div class="form">
        <div class="cont">
            <form>
                <i class="fas fa-times cross-1"></i>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="desc">Description</label>
                    <input type="text" class="form-control" id="desc">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>

    <div class="highlights">
        <h1>
            Upcomming Companies
        </h1>
        <hr>
        <ul>
            <li>Capegemini</li>
            <li>Capegemini</li>
        </ul>
    </div>

</div>
