<div class="main">
    <div class="content container">
        <h1>
            Looks like you are<br> new here !
        </h1>
        <h2>
            We will get you sorted.
        </h2>
        <h3>
            Select your role:
        </h3>
        <div class="selection">
            <div class="row">
                <div class="col-sm">
                    <img class="teach" src="../../../../assets/images/undraw_mathematics_4otb.svg" alt="student"><br>
                    <button mat-raised-button>Student</button>
                </div>
                <div class="col-sm">
                    <img class="teach" src="../../../../assets/images/undraw_teaching_f1cm.svg" alt="faculty"><br>
                    <button mat-raised-button>Faculty</button>
                </div>
            </div>
        </div>

        <div class="next">
            <i class="fas fa-arrow-right icon"></i>
            <div class="overlay"></div>
            
        </div>
    </div>
</div>
