<section class="main">
  <div class="content">
    <div class="school">
      <h1>School Education</h1>
      <hr>
      <div class="row container title">
        <div class="col">
          <h2>Class</h2>
        </div>
        <div class="col">
          <h2>Percentage</h2>
        </div>
        <div class="col">
          <h2>Verification</h2>
        </div>
      </div>
      <div class="row container">
        <div class="col">
          X
        </div>
        <div class="col">
          XII
        </div>
        <div class="col">
          
        </div>
      </div>    

    </div>
  </div>
</section>