<section class="main">
    <app-sidebar></app-sidebar>
    <section class="yc__content">
        <!-- Headline start -->
       <div class="yc__headline">
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <h1>
                    Welcome Back!
                </h1>
              </div>
              <div class="col-sm">
                <div class="avatar">
                    
                </div>
              </div>
            </div>
          </div>
       </div>
       <!-- Headline end -->

       <!-- profile-start -->

       <div class="about">
        <h1 class="field-1">Personal Details</h1>
        <hr>
        <div class="container">
          
            <div class="row" *ngIf='userdata'>
              <div class="col-sm name">
                <h2>
                    {{userdata.name}}
                </h2>
                <p class="reg-no">
                    {{userdata.registrationNumber}}
                </p>
                <p>
                    CSE-IoT
                </p>
              </div>
              <div class="col-sm">
                <div class="contact">
                    <i class="fas fa-envelope icon"></i>
                        <span>
                            {{userdata.email}}
                        </span>
                        <div class="yc-2">
                          <i class="fas fa-phone-alt icon"></i>
                          <span>
                              {{userdata.number}}
                          </span>
                        </div>
                   
                </div>
              </div>
              <div class="col-sm">
                <div class="adv">
                  <i class="fas fa-chalkboard-teacher icon sec"></i>
                    <span class="sec">
                      {{userdata.faculty}}
                    </span>
                </div>
                
              </div>
            </div>
            <div class="row d-flex justify-content-center mt-3" *ngIf='!userdata'>
              <img src="../../../../assets//gifs/preloader.gif" width="100" height="100">
            </div>
          </div>
          <h1 class="field-1 tw">Skills</h1>
          <hr>
          <div class="skills">            
             <div class="gp-1">
              <span><input id="skl" type="text" class="form-group" placeholder="add skill"></span>
              <span><a><i class="fas fa-plus-circle icon input-btn"></i></a></span>
              <div class="skill-add"> 
              </div> 
            </div>
          </div>
       </div>
        
      
       
    </section>
</section>