@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500&display=swap');

.main{
    height: 100vh;
    width: 100%;
    background-color: #f7f7f8;
    overflow-x: hidden;
}

.content{
    height: 100vh;
    width: 84%;
    margin-left: 16%;
}

.col-8{
   
    height: 100vh;
}

.col-4{
    height: 100vh;
}

.profile-side{
    height: 90%;
    width: 85%;
    background-color: white;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 20px;
    padding-top: 40px;
    text-align: center;
    -webkit-box-shadow: 0px 3px 6px 0px #dbdbdb;
    -moz-box-shadow: 0px 3px 6px 0px #dbdbdb;
    box-shadow: 0px 3px 6px 0px #dbdbdb;
    text-align: center;
}

.name{
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    margin-left: 30px;
    margin-top: 50px;
    -webkit-box-shadow: 0px 3px 6px 0px #dbdbdb;
    -moz-box-shadow: 0px 3px 6px 0px #dbdbdb;
    box-shadow: 0px 3px 6px 0px #dbdbdb;
}

.name h1{
    color: #9aceff;
    margin-bottom: 5px;
    font-size: 30px;
    margin-top: 10px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.name h3{
    color: #F88B8B;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}



.welcome-image{
    height: 270px ;
    position: absolute;
    margin-top: -28%;
}

.info{
    margin-left: 30px;
    margin-top: 30px;
}

.imp-contacts{
    height: 360px;
    border-radius: 30px;
    background-color: white;
    padding: 15px 20px;
    -webkit-box-shadow: 0px 3px 6px 0px #dbdbdb;
    -moz-box-shadow: 0px 3px 6px 0px #dbdbdb;
    box-shadow: 0px 3px 6px 0px #dbdbdb;
}

h2{
    color: #F88B8B;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
}

hr{
    margin: 0;
}

.conts{
    margin-top: 10px;
}

.conts h3{
    font-size: 18px;
    font-weight: 500;
    color: #7D81FF;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
}

.conts h4{
    margin: 0;
    font-size: 15px;
    color: #AAAAAA;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.conts p{
    margin-top: 3px;
    font-size: 17px;
    color: gray;
    font-style: italic;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.fa-envelope{
    float: right;
    margin-right: 10px;
    font-size: 18px;
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #7D81FF;
    background-image: url(../../../../assets/images/teach.svg);
    background-size: cover;
    margin-left: 50%;
    transform: translateX(-50%);
}

.profile-side h1{
    font-weight: 500;
    color: #AAAAAA;
    margin-top: 30px;
    font-size: 25px;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
}

.profile-side h3{
    color: #AAAAAA;
    font-family: 'Roboto', sans-serif;
}

.details{
    background-color: white;
    border-radius: 30px;
    padding: 15px 20px;
    -webkit-box-shadow: 0px 3px 6px 0px #dbdbdb;
    -moz-box-shadow: 0px 3px 6px 0px #dbdbdb;
    box-shadow: 0px 3px 6px 0px #dbdbdb;

}

.details h3{
    margin-top: 8px;
    font-size: 18px;
    font-weight: 500;
    color: #AAAAAA;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
}

.gen{
    margin-top: 15px;
}

.profile-side hr{
    width: 70%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}

.profile-side p{
    font-weight: 500;
    color: #AAAAAA;
    font-family: 'Roboto', sans-serif;
}

.fab{
    font-size: 25px;
    color: #AAAAAA;
    margin-left: 50px;
}



.skl-cnt{
    margin-left: -15%;
    margin-top: 20px;
}