<section class="main">
    <div class="content">
        <div class="row">
            <div class="col-8">
                <div class="name">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h1>Welcome Yaksh!</h1>
                                <h3>Pickup from where you left.</h3>
                            </div>
                            <div class="col second" >
                                <img class="welcome-image" src="../../../../assets/images/final/clip-school-assignment.png" alt="Welcome">
                            </div>
                        </div>
                    </div>
                   
                </div>

                <div class="info">
                    <div class="row">
                        <div class="col">
                            <div class="imp-contacts">
                                <h2>Important Contacts</h2>
                                <hr>
                                <div class="conts">
                                    <h3>Chairperson</h3>
                                    <h4>Mr. Qwerty Qwerty</h4>
                                    <p>abcf.efgh@srmist.edu.in<i class="fas fa-envelope"></i></p>

                                    <!-- HoD -->

                                    <h3>Head of Department</h3>
                                    <h4>Mr. Qwerty Qwerty</h4>
                                    <p>abcf.efgh@srmist.edu.in<i class="fas fa-envelope"></i></p>

                                    <!-- year coordinator -->
                                    <h3>Year Coodinator</h3>
                                    <h4>Mr. Qwerty Qwerty</h4>
                                    <p>abcf.efgh@srmist.edu.in<i class="fas fa-envelope"></i></p>

                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="details">
                                <h2>Class Details</h2>
                                <hr>
                                <h3>Department: Computer Science</h3>
                                <h3 class="below">Specialization: IoT</h3>
                                <h3 class="below">Section: N1</h3>
                            </div>
                            <div class="details gen">
                                <h2>Personal Details</h2>
                                <hr>
                                <h3>Date of Birth: </h3>
                                <h3>Gender:</h3>
                                <h3>NRI:</h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-4">
                <div class="profile-side">
                    <div class="circle"></div>
                    <h1>Yaksh Chopra</h1>
                    <h3>RA1811032010048</h3>
                    <h2>
                        Email
                    </h2>
                   
                    <hr>
                    <p>yakshchopra@gmail.com</p>
                    <p>yakshchopra@gmail.com</p>
                    <h2>
                        Contact Number
                    </h2>
                   
                    <hr>
                    <p>9682567645</p>
                    <p>9682567645</p>
                    <p>9682567645</p>
                    <div class="skl-cnt">
                        <i class="fab fa-github"></i><i class="fab fa-linkedin"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>