<section class="form">
    <form class="container cont">
        <h1 class="header">Register</h1>
        <hr>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required>
              </div>
          </div>
          <div class="col">
            <div class="form-group">
                <label for="r.no">Register Number</label>
                <input type="text" class="form-control" id="r.no" required>
              </div>
          </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" required>
                  </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="phone">Contact Number</label>
                    <input type="number" class="form-control" id="phone" required>
                  </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label for="pass">Password</label>
                    <input type="password" class="form-control" id="pass" required>
                  </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="cmp">Confirm Password</label>
                    <input type="password" class="form-control" id="cmp" required>
                  </div>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Next</button>
      </form>

      <!-- second-form -->

      <!-- second-form-end -->

</section>
