
.main{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* background-image: url(../../../assets/images/regbg.png);
    background-size: cover; */
}

.col-6{
    height: 100vh;
}


.image{
    margin-right: 20px;
}

.headline{
    line-height: 50px;
    font-size: 45px;
    font-weight: 500;
    color: #8498FF;
    margin-left: 80px;
    margin-top: 60px;
}

.form{
    margin-left: 60px;
}

.inputs{
    width: 100%;
}

.support{
    margin-left: 80px;
    color: #FF8585;
}

.fas{
    font-size: 20px;
    margin-left: 15px;
}

.next{
    color:#673ab7;
    font-size: 20px;
}

.next:focus, .reset:focus{
    outline: none;
}

.reset{
    color: #FF8585;
    font-size: 20px;
}