
.main{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* background-image: url(../../../assets/images/regbg.png);
    background-size: cover; */
}

.col-6{
    height: 100vh;
}


.image{
    margin-right: 20px;
}

.headline{
    line-height: 50px;
    font-size: 45px;
    font-weight: 500;
    color: #85B6FF;
    margin-left: 60px;
    margin-top: 40px;
}

.form{
    margin-left: 30px;
}

.inputs{
    width: 100%;
}
