@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700&display=swap');


.main{
    background-color: #7d81ff;
    height: 100vh;
    width: 100%;
    background-image: url(../../../assets/images/bg.png);
    background-position: -5%;
}

.logo{
    margin-top: 20px;
    margin-left: -70px;
}

.divider{
    width: 5px;
    height: 200px;
    border-radius: 20px;
    background-color: white;
    margin-top: 9%;
    opacity: 0.5;
}

.col-7 h1{
    text-shadow: 0px 2px 3px silver;
    font-family: 'Fira Sans', sans-serif;
}

.yc-form{
    background-color: White;
    margin-top: 3%;
    padding: 30px;
    border-radius: 20px;
    margin-left: 30%;
    -webkit-box-shadow: 2px 2px 8px 0px rgba(133,133,133,1);
    -moz-box-shadow: 2px 2px 8px 0px rgba(133,133,133,1);
    box-shadow: 2px 2px 8px 0px rgba(133,133,133,1);

}

input{
    border-radius: 20px;
    margin: 10px 0;
}

.btn{
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    padding: 5px 20px 5px 20px !important;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #7d81ff;
    border: none;
    font-family: 'Fira Sans', sans-serif;
}

.yc-sgn{
    border: none;
    font-size: 17px;
    margin-left: 20px;
    background-color: #FFC117;
    padding: 10px 15px;
    color: white;
    border-radius: 20px;
    margin-top: -4px;
    font-family: 'Fira Sans', sans-serif;
}


.yc-sgn:focus{
    outline: none;
}

hr{
    margin: 0 !important;
    margin-top: 5px !important;
    margin-bottom: 25px !important;
    font-family: 'Fira Sans', sans-serif;
}

.yc-opt{
    background-color:#B5B9FF;
    width: 60%;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    margin-left: 15%;
    margin-bottom: 35px;
    position: relative;
    -webkit-box-shadow: 2px 2px 8px 0px rgba(133,133,133,1);
    -moz-box-shadow: 2px 2px 8px 0px rgba(133,133,133,1);
    box-shadow: 2px 2px 8px 0px rgba(133,133,133,1);
}

.highlight{
    position: absolute;
    width: 100%;
    height: 100%;
    border: solid #FFC117;
    top: 0;
    left: 0;
    transform: rotate(355deg);
    -webkit-box-shadow: 2px 2px 8px 0px rgba(133,133,133,1);
    -moz-box-shadow: 2px 2px 8px 0px rgba(133,133,133,1);
    box-shadow: 2px 2px 8px 0px rgba(133,133,133,1);
}

.yc-opt h1{
    font-size: 30px;
    margin-top: 6%;
    color: white;
    text-shadow: 0px 2px 5px #234D3C;
    font-family: 'Fira Sans', sans-serif;
}

.yc-selection{
    margin-top: 8%;
}

.mid{
    transform: rotate(5deg);
}
