<section class="yc-nav">
    <div class="logo">
        <img class="yc-logo" src="../../../../assets/images/Srmseal.png" alt="Logo">
    </div>
    <div class="item">
      <i class="fas fa-id-badge icon" ></i>
      <p>Profile</p>
      <div class="block"></div>
  </div>
    <div class="item">
        <i class="fas fa-book-open icon" ></i>
        <p>Education</p>
        <div class="block"></div>
    </div>
    <div class="item">
        <i class="fas fa-trophy icon"></i>
        <p class="cert">Certifications</p>
        <div class="block"></div>
    </div>

    <div class="item">
        <i class="fas fa-sign-out-alt icon"></i>
    </div>
</section>

