<div class="main">
    <div class="logo">
        <img src="../../../../assets/images/Srmseal.png" alt="SRMIST">
    </div>
    <div class="list" routerLink = '/faculty/profile' routerLinkActive #over='routerLinkActive'>
        <h2><i class="fas fa-columns icon"></i> Overview</h2>
        <div class="block" *ngIf="over.isActive"></div>
        <div class="wht" *ngIf="over.isActive"></div>
    </div>
    <div class="list" routerLink = '/faculty/verify' routerLinkActive #edu='routerLinkActive'>
        <h2><i class="fas fa-book-open icon"></i> Verification</h2>
        <div class="block" *ngIf="edu.isActive"></div>
        <div class="wht" *ngIf="edu.isActive"></div>
    </div>
    <div class="list" routerLink = '/faculty/list' routerLinkActive #certi='routerLinkActive'>
        <h2><i class="fas fa-stamp icon"></i> Class List</h2>
        <div class="block" *ngIf="certi.isActive"></div>
        <div class="wht" *ngIf="certi.isActive"></div>
    </div>

    <div class="image">
        <img src="../../../../assets/images/final/clip-reading-books.png" alt="">
    </div>
    <div class="list log" (click)="logout()">
        <h2>Logout</h2>
    </div>
    <div class="division">

    </div>

</div>
