.main{
    height: 100vh;
    width: 100%;
    background-color: #f7f7f8;
    overflow: hidden;
}

.content{
    height: 100vh;
    width: 84%;
    margin-left: 16%;
}

.certi{
    width: 90%;
    margin-left: 4%;
    margin-top: 30px;
}

.inter, .npt{
    background-color: white;
    height: 260px;
    border-radius: 30px;
    padding: 15px 20px;
    -webkit-box-shadow: 0px 3px 6px 0px #dbdbdb;
    -moz-box-shadow: 0px 3px 6px 0px #dbdbdb;
    box-shadow: 0px 3px 6px 0px #dbdbdb;
}

.inter{
    margin-right: 10px;
}

.npt{
    margin-left: 10px;
}

h1{
    color: #FCA8A8;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
hr{
    margin: 0;
}

.intern{
    width: 100%;
    background-color: white;
    padding: 15px 20px;
    margin-top: 20px;
    border-radius: 30px;
    height: 270px;
    -webkit-box-shadow: 0px 3px 6px 0px #dbdbdb;
    -moz-box-shadow: 0px 3px 6px 0px #dbdbdb;
    box-shadow: 0px 3px 6px 0px #dbdbdb;
}

span{
    font-size: 18px;
    float: right;
    margin-right: 15px;
    color: #8498FF;
    cursor: pointer;
}

.title{
    margin-top: 10px;
    color: #AAAAAA;
}

.title h2{
    font-weight: 400 !important;
    font-size: 18px;
}

