.profile{
    background-color: white;
    height: 100vh;
    width: 23%;
    float: right;
    left: 77%;
    position: fixed !important;
}

.profile-pic{
    background-color: #467DFF;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 70px;
}

.st-name{
    text-align: center;
}

.st-icon{
    color: #467DFF;
    font-size: 30px;
    margin-left: 20px;
}

.personal-info{
    display: grid;
    grid-template-columns: 25% 75%;
    margin-top: 25px;
}

.personal-info span{
    margin-top: 2px;
}
