<div class="main">
    <form>
        <h1>
            Company Details
        </h1>
        <hr>
        <mat-form-field appearance="fill" class="inputs">
            <mat-label>Company Name</mat-label>
            <input matInput>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="inputs">
            <mat-label>Status of Application</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
        <br>
        <button class="sbm" mat-raised-button>Submit</button>
    </form>
</div>