<section class="main">
  <app-faculty-sidebar></app-faculty-sidebar>
  <div class="content">
      <div class="student-list">
        <h1>
          Student Details
        </h1>
       <hr>
       <div class="table">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>
        
        <table class="filterList" mat-table [dataSource]="dataSource" class="mat-z8">
        
          <!-- Position Column -->
          <ng-container matColumnDef="registerNo">
            <th class="th" mat-header-cell *matHeaderCellDef> No. </th>
            <td  class="td" mat-cell *matCellDef="let element"> {{element.registerNo}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th class="th" mat-header-cell *matHeaderCellDef> Name </th>
            <td class="td" mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="CGPA">
            <th class="th" mat-header-cell *matHeaderCellDef> Weight </th>
            <td class="td" mat-cell *matCellDef="let element"> {{element.CGPA}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="Gender">
            <th class="th" mat-header-cell *matHeaderCellDef> Symbol </th>
            <td class="td" mat-cell *matCellDef="let element">{{element.Gender}}</td>
          </ng-container>

          <ng-container matColumnDef="classXII">
            <th class="th" mat-header-cell *matHeaderCellDef> Symbol </th>
            <td class="td" mat-cell *matCellDef="let element">{{element.classXII}}</td>
          </ng-container>

          <ng-container matColumnDef="standingArrears">
            <th class="th" mat-header-cell *matHeaderCellDef> Symbol </th>
            <td class="td" mat-cell *matCellDef="let element">{{element.standingArrears}}</td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
        
       </div>
      </div>
  </div>

  <div class="skills">
    <form>
      <h1>Filter</h1>
      <hr>
      <h3>CGPA</h3>
      <mat-form-field class="example-full-width">
        <mat-label>Minimum Limit</mat-label>
        <input matInput placeholder="Enter maximum CGPA">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Maximum Limit</mat-label>
        <input matInput placeholder="Enter minimum CGPA">
      </mat-form-field>

      <h3 class="gender">Gender</h3>
      <mat-radio-group class="genderValue" aria-label="Select an option">
        <mat-radio-button value="1">Male</mat-radio-button>
        <mat-radio-button value="2">Female</mat-radio-button>

      </mat-radio-group>

      <h3>School Acadamics</h3>
      <mat-form-field class="example-full-width">
        <mat-label>Minimum Limit</mat-label>
        <input matInput placeholder="Enter maximum Percentage">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Maximum Limit</mat-label>
        <input matInput placeholder="Enter minimum Percentage">
      </mat-form-field>

      <h3 class="gender">Arrears</h3>
      <mat-radio-group class="genderValue" aria-label="Select an option">
        <mat-radio-button value="1">Nil</mat-radio-button>
        <mat-radio-button value="2">Yes</mat-radio-button>

      </mat-radio-group>


    </form>
       
  </div>
</section>